include README.md
include STATUS.md
recursive-include docs *.md
recursive-include native *.asm *.inc *.S
recursive-include tools *.py
recursive-include asmdb/kernels *.cl
recursive-include asmdb/_native *.dll *.so
